<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOGIN</title>
    <link rel="stylesheet" href="../css/pages/login.css" />
    <link rel="icon" type="image/svg+xml" href="../assets/icons/login.svg" />
  </head>
  <body>
    <form id="login-caixa">
      <h2>Login</h2>
      <div class="user-caixa">
        <input type="email" id="email" required />
        <label>Usuário</label>
      </div>
      <div class="user-caixa">
        <input type="password" id="senha" required />
        <label>Senha</label>
      </div>
      <div class="user-caixa">
        <input type="text" id="status" required />
        <label>Status</label>
        <select id="seletor">
          <option value="">-- Selecione --</option>
          <option value="Administrador">Administrador</option>
          <option value="Funcionário">Funcionário</option>
        </select>
      </div>
      <button type="submit">Entrar</button>
      <p id="mensagem"></p>
    </form>
    <script src="../scripts/login.js"></script>
  </body>
</html>
